NUXT_PUBLIC_QUANTILEARN_API_BASE=http://127.0.0.1:5176
NUXT_PUBLIC_QUANTILEARN_PUBLIC_BASE_URL=https://ql.spdex.com
NUXT_PUBLIC_REQUIRE_AUTH=false
NUXT_PUBLIC_NEWSPDEX_LOGIN_URL=https://new.spdex.com/login
QUANTILEARN_API_INTERNAL_URL=http://127.0.0.1:5015
SPDEX_API_INTERNAL_URL=http://127.0.0.1:5000
QUANTILEARN_AUTH_SHARED_SECRET=
API_INTERNAL_URL=http://127.0.0.1:5015
NUXT_PORT=3004
PORT=3004
NITRO_PORT=3004
